{{ define "main" }}
<article class="h-entry post post--single">
  {{ partial "microhook-before-post.html" . }}

  {{ if .Title -}}
  <h1 class="post__title p-name">{{ .Title }}</h1>
  {{- end }}

  <div class="post__meta">
    <a href="{{ .Permalink }}" class="post__date u-url" rel="bookmark">
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "2006-01-02 · 15:04" }}
      </time>
    </a>
    {{ $showCats := false }}{{ range .Params.categories }}{{ if ne . "Newsletter" }}{{ $showCats = true }}{{ end }}{{ end }}
    {{ if $showCats -}}
    <span class="post__categories">
      {{ range .Params.categories -}}{{ if ne . "Newsletter" -}}<a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}/" class="p-category">{{ . }}</a>{{ end }}{{- end }}
    </span>
    {{- end }}
  </div>

  <div class="post__content e-content">
    {{ .Content }}
  </div>

  {{ partial "microhook-after-post.html" . }}
</article>
{{ end }}
