<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body class="nc-theme">
    <div class="site-wrapper">
      {{- partial "sidebar.html" . -}}
      <div class="site-main">
        <main id="main-content" class="main-content">
          {{- block "main" . }}{{ end -}}
        </main>
        {{- partial "footer.html" . -}}
      </div>
    </div>
  <script src="{{ .Site.BaseURL }}js/theme.js?v={{ .Site.Data.version | default "0.2.12" }}"></script>
  <script src="{{ .Site.BaseURL }}js/matrix.js?v={{ .Site.Data.version | default "0.2.12" }}"></script>
  </body>
</html>
