<footer class="site-footer">

  <div class="site-footer__content">
    <h3 class="site-footer__heading">What's Next?</h3>

    <ul class="site-footer__links">
      <li>Follow me on <a href="https://techhub.social/@numericcitizen" rel="noopener noreferrer">Mastodon</a></li>
      <li>Follow me on <a href="https://bsky.app/profile/numericcitizen.me" rel="noopener noreferrer">Bluesky</a></li>
      <li>🔵 Numeric Citizen Space <a href="https://numericcitizen.me" rel="noopener noreferrer">website</a></li>
      <li>🔵 Numeric Citizen Meta <a href="https://meta.numericcitizen.me" rel="noopener noreferrer">website</a></li>
    </ul>

    <p class="site-footer__explore">Explore this blog by visiting a <a href="https://blog.numericcitizen.me/surprise-me/" rel="noopener noreferrer">random post</a>, by <a href="https://blog.numericcitizen.me/search-space/" rel="noopener noreferrer">searching</a>, browsing <a href="https://tinylytics.app/public/2MVJTA1asSqV4_REAjg_" rel="noopener noreferrer">page views</a>, or peeking at <a href="https://blog.numericcitizen.me/stats/" rel="noopener noreferrer">blog stats</a>.</p>

    <p class="site-footer__copyright">Copyright &copy; 2026 JF Martin</p>

    <script type="text/javascript" src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script>
    <script type="text/javascript">kofiwidget2.init('Support Me on Ko-fi', '#137d9f', 'S6S41XTUR');kofiwidget2.draw();</script>
  </div>

  <p class="site-footer__credit">
    <a href="{{ .Site.BaseURL }}" class="h-card u-url p-name">{{ .Site.Title }}</a>
    &middot; Powered by <a href="https://micro.blog" rel="noopener noreferrer">Micro.blog</a>
  </p>

</footer>
