{{ define "main" }}
{{- $posts := where (where .Site.RegularPages "Section" "ne" "") "Section" "ne" "replies" | sort "Date" "desc" -}}
<div class="archive-list">
  {{- range $posts }}
  <div class="archive-entry">
    <time class="archive-entry__date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 02, 2006" }}</time>
    <a href="{{ .Permalink }}" class="archive-entry__title">
      {{- if .Title -}}{{ .Title }}{{- else -}}{{ .Summary | plainify | truncate 100 "…" }}{{- end -}}
    </a>
  </div>
  {{- end }}
</div>
{{ end }}
